.todos{
	background:url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=2000");
	background-repeat: no-repeat;
	background-size:cover;
  } 

  .home{
	background:red;
  }