* {
	margin: 0%;
}

.HookTodo {
	background-repeat: no-repeat;
	background-size: cover;
}

.item-todo1 {
	padding: 12px;
	width: 280px;
	margin-left: 630px;
	margin-top: 15px;
	background: #33B4FF;
	border-radius: 8px;
	cursor: pointer;
}

.item-text1 {
	display: inline-block;
	cursor: pointer;
	font-size: 20px;
}

.item-text1:hover {
	font-size: 20px;
	background: yellow
}

.input1 {
	margin-top: 20px;
	padding: 14px 32px 14px 16px;
	border-radius: 4px 0 0 4px;
	border: 2px solid blue;
	outline: none;
	text-align: center;
	margin-left: 630px;
	font-size: 15px;
	width: 200px;
}

.butt1 {
	padding: 13px 5px;
	border: 3px solid blue;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	background: yellow;
	width: 50px;
	font-size: 15px;
}

.butt1:hover {
	background-color: blueviolet;
	color: white;
	border: 3px solid yellow;
}

.item-delete1 {
	float: right;
	font-size: 22px;
	color: black
}

.item-delete1:hover {
	background: yellow;
	font-size: 25px;
}

.strike1 {
	text-decoration: line-through;
	color: black
}

.h11 {
	border: 5px ridge blue;
	width: 32%;
	margin-left: 34%;
	color: red;
	display: flex;
	justify-content: center;
	background: white
}

.HookButt {
	padding: 10px;
	border-radius: 25px;
	font-size: 18px;
	margin-left: 8%;
	background: yellow;
	border: 3px ridge blue;
}

.HookButt:hover {
	background: blueviolet;
	color: white;
	border: 3px solid yellow;
	cursor: pointer;
}